@import "tailwindcss";

@theme {
  --color-navbar: #1a1a1a;
  --color-primary: #d61e26;
  --color-secondary: #f4c430;
  --color-tertiary: #121212;

  --font-russo-one: "Russo One", sans-serif;
}

.mask-to-left {
  mask-image: linear-gradient(to left, black 95%, transparent 100%);
}

.mask-to-bottom {
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}
